<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "erro") %> impediram que este post fosse salvo:</h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, 'Conteúdo' %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit post.new_record? ? 'Criar Post' : 'Atualizar Post' %> |
    <%= link_to 'Visualizar', @post, class: 'btn-view' %> |
    <%= link_to 'Voltar para Posts', posts_path, class: 'btn-back' %>
  </div>
<% end %>