<!DOCTYPE html>
<html>
  <head>
    <title>Blog do Bruno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'Blog do Bruno', root_path %>
        <%= link_to 'Novo Post', new_post_path %>
      </nav>
    </header>

    <main>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> Blog do Bruno. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>